@model IEnumerable<El_Tringulito.Models.Promociones>

@{
    ViewData["Title"] = "Index";
}

<h1>Index</h1>

<p>
    <a asp-action="Create">Create New</a>
</p>
<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.id_plato)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.id_combo)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.fecha_inicio)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.fecha_fin)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.precio)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.id_plato)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.id_combo)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.fecha_inicio)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.fecha_fin)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.precio)
            </td>
            <td>
                <a asp-action="Edit" asp-route-id="@item.id_promocion">Edit</a> |
                <a asp-action="Details" asp-route-id="@item.id_promocion">Details</a> |
                <a asp-action="Delete" asp-route-id="@item.id_promocion">Delete</a>
            </td>
        </tr>
}
    </tbody>
</table>
